
.futuristic-button {
    background: linear-gradient(135deg, #00e0ff, #0077ff);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 224, 255, 0.75);
}

.futuristic-button:hover {
    background: linear-gradient(135deg, #0077ff, #00e0ff);
    box-shadow: 0 6px 20px rgba(0, 224, 255, 1);
}


.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: #1a1a2e;
    color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar-content {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.sidebar-close {
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}

.sidebar-close:hover {
    background-color: #ff2d2d;
}


.comments-container {
    overflow-y: auto;
    max-height: 75vh;
}


.comment-container {
    background-color: #1f2235;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #00e0ff;
}


.reply-container {
    background-color: #283046;
    padding: 10px;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #00e0ff;
}


.replies-container {
    margin-top: 10px;
    margin-left: 10px;
}


p {
    font-size: 1.1em;
    line-height: 1.5;
    color: #d1d1d1;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #00e0ff;
}
